#plateau {
    border: solid black 1px;
    text-align: center;
    width: 100%;
    height: auto;
}

.cell {
    border: solid black 1px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.wallBox {
    background-color: grey;
}

.weaponBox {
    background-color: red;
}

.caracterBox {
    background-color: blue;
}